xterm*faceName: DejaVu Sans Mono
xterm*facesize: 16

! colors
xterm*foreground: #f7f7f7
xterm*background: #000000
xterm*cursorColor: #ffffff
! black
xterm*color0: #545454
xterm*color8: #545454
! red
xterm*color1: #a80000
xterm*color9: #f85450
! green
xterm*color2: #00a800
xterm*color10: #50fc50
! yellow
xterm*color3: #a85400
xterm*color11: #f8fc50
! blue
xterm*color4: #0000a8
xterm*color12: #5054f8
! purple
xterm*color5: #a800a8
xterm*color13: #f854f8
! cyan
xterm*color6: #00a8a8
xterm*color14: #50fcf8
! white
xterm*color7: #a8a8a8
xterm*color15: #f8fcf8


xterm.vt100.locale: true
